@{
    ViewBag.Title = "Регистрацията е успешна";
}

@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Регистрацията е успешна</legend>
            <div>
                <p>
                Благодарим ви че се регистрирахте. Моля, проверете вашият e-mail за писмо 
                за потвърждаване на вашата регистрация. Когато посетите линка, който е 
                даден в писмото, вашата регистрация ще е потвърдена.
                </p>
            </div>
        </fieldset>
    </div>
}
