@{
    ViewBag.Title = "Registration Successful";
}

@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Registration Successful</legend>
            <div>
                <p>
                Thank you for registering. Please check your email for a confirmation
                request with a link that will confirm your account. Once you click the
                link, your registration will be complete.
                </p>
            </div>
        </fieldset>
    </div>
}
