@{
    ViewBag.Title = "Регистрацията е успешна";
}

@using (Html.BeginForm())
{
    @*<script type="text/javascript">
        var link = @(Html.Action("Index", "Home"));
        setTimeout("location.href = link;",6000);
    </script>*@
    
    <div>
        <fieldset>
            <legend>Регистрацията е успешна</legend>
            <div>
                <p>
                Благодарим ви че се регистрирахте. Моля, проверете вашият e-mail за писмо 
                за потвърждаване на вашата регистрация. Когато посетите линка, който е 
                даден в писмото, вашата регистрация ще е потвърдена.
                </p>
            </div>
        </fieldset>
    </div>
}
